@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,700;0,800;0,900;1,600&display=swap");

:root {
  --font-base: "Poppins", sans-serif;

  --primary-color: #edf2f8;
  --secondary-color: #313bac;
  --black-color: #030303;
  --lightGray-color: #e4e4e4;
  --gray-color: #6b7688;
  --brown-color: #46364a;
  --white-color: #ffffff;

  --bgnav: rgba(255, 255, 255, 0.25);
}

.dark-mode:root {
  --primary-color: #030303;
  --secondary-color: #8ecae6;
  --black-color: #edf2f8;
  --lightGray-color: #394249;
  --gray-color: #edf2f8;
  --brown-color: #d2ad7e;
  --white-color: #030303;

  --bgnav: rgba(0, 0, 0, 0.55);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}
